<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<a href="Main"> 메인 </a>
	<a href="Solve"> 풀기 </a>
	<a href="Annotation"> 첨삭 </a>
	<a href="Posts"> 게시판 </a>
	<a href="My_page"> 나의 페이지 </a>
<h1>게시판</h1>
</body>
</html>